.image {
    position: relative;
}
img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 650px;
  }

  i {
    position: absolute;
    margin-top: 90px;
    border-radius: 50%;
    object-fit: cover;
    right: 780px;
  }

  .content {
      margin-top: 10px;
  }

  .tab {

    position:absolute;
    left:400px; 
  }

  .main {
    height: 100%;
      background-color: #EFEFEF;
  }

  
  p {
      font-size: 24px;
      padding-left: 80px;
  }

  .btn {
      margin-left: 80px;
  }